<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let movie of movies">
    <div class="card">
      <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">Release year: {{ movie.releaseDate | formatDate }}</p>
        <p class="card-text">Duration: {{ movie.duration | formatDuration }}</p>
        <p class="card-text">Likes: {{ movie.likes }}</p>
        <button class="btn btn-primary" (click)="toggleLike(movie)">Like</button>
      </div>
    </div>
  </div>
</div>
